@model IList<Nemocnice.application.ViewModels.LekarskaZpravaPredpisViewModel>

@section Styles
{
    <link rel="stylesheet" href="~/css/predpis.css" />
}

<h1>Vaše předpisy</h1>

<div class="table-responsive mt-3">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Předpis ID</th>
                <th>Typ Léku</th>
                <th>Název Léku</th>
                <th>Čas podání</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var predpis in Model)
            {
                <tr>
                    <td>@predpis.Predpis.Id</td>
                    <td>@predpis.Predpis.TypLeku</td>
                    <td>@predpis.Predpis.NazevLeku</td>
                    <td>@predpis.Predpis.CasPodani</td>
                </tr>
            }
        </tbody>
    </table>
</div>