@model Nemocnice.application.ViewModels.KartaLekarskaZprava

<h2 class="text-center my-4">Create Zpráva</h2>

<div class="container">
    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Karta.KartaId" class="control-label"></label>
            <input asp-for="Karta.KartaId" class="form-control" />
            <span asp-validation-for="Karta.KartaId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LekarskaZprava.Zprava" class="control-label"></label>
            <input asp-for="LekarskaZprava.Zprava" class="form-control" />
            <span asp-validation-for="LekarskaZprava.Zprava" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LekarskaZprava.Datum" class="control-label"></label>
            <input asp-for="LekarskaZprava.Datum" class="form-control" type="datetime-local" value="@Model.LekarskaZprava.Datum.ToString("yyyy-MM-ddTHH:mm")" />
            <span asp-validation-for="LekarskaZprava.Datum" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </form>
</div>