@model User
@{
    ViewData["Title"] = "User - Add";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post">
    <div class="my-3">
        <label class="form-label" asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PasswordHash">Password</label>
        <input class="form-control" asp-for="PasswordHash">
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label class="form-label" asp-for="PhoneNumber">Phone number</label>
        <input class="form-control" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <a asp-action="Select" class="btn btn-primary">Back to List</a>
    <button type="submit" class="btn btn-primary ms-3">Submit</button>
</form> 

@section Scripts
{
        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/validations/FirstLetterCapitalizedCZ.js"></script>
}