@model User
@{
    ViewData["Title"] = "User - Add";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Jmeno"></label>
        <input class="form-control" asp-for="Jmeno">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Prijmeni"></label>
        <input class="form-control" asp-for="Prijmeni">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Telefon">Image Source</label>
        <input class="form-control" asp-for="Telefon">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Heslo"></label>
        <input class="form-control" asp-for="Heslo">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="DatumNarozeni"></label>
        <input class="form-control" asp-for="DatumNarozeni">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 
