@model IList<Nemocnice.application.ViewModels.KartaLekarskaZprava>

@section Styles
{
    <link rel="stylesheet" href="~/css/prohlidky.css" />
}

<h1>Vaše Zprávy</h1>

<div class="table-responsive mt-3">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Karta ID</th>
                <th>Zpráva</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var zprava in Model)
            {
                <tr>
                    <td>@zprava.Karta.KartaId</td>
                    <td>@zprava.LekarskaZprava.Zprava</td>
                    <td>@zprava.LekarskaZprava.Datum</td>
                </tr>
            }
        </tbody>
    </table>
</div>