@model IList<KartaLekarskaZprava>

<table class="table">
    <thead>
        <tr>
            <th>Karta ID</th>
            <th>Lekarska Zpráva ID</th>
            <th>Zpráva</th>
            <th>Datum Napsání</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Karta.KartaId</td>
                <td>@item.LekarskaZprava.LekarskaZpravaId</td>
                <td>@item.LekarskaZprava.Zprava</td>
                <td>@item.LekarskaZprava.Datum?.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </tbody>
</table>
