@model LekarskaZpravaPredpisViewModel

<h2 class="text-center my-4">Edit Předpis</h2>

<form asp-area="Admin" asp-controller="Predpis" asp-action="Edit" method="post">
    <input asp-for="Predpis.Id" type="hidden" />
    <input asp-for="LekarskaZprava.LekarskaZpravaId" type="hidden" />
    <input asp-for="Predpis.LekarskaZpravaId" type="hidden" />

    <div class="form-group my-3">
        <label asp-for="Predpis.NazevLeku">Název léku</label>
        <textarea asp-for="Predpis.NazevLeku" class="form-control"></textarea>
        <span asp-validation-for="Predpis.NazevLeku" class="text-danger"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="Predpis.TypLeku">Typ léku</label>
        <input asp-for="Predpis.TypLeku" class="form-control" />
        <span asp-validation-for="Predpis.TypLeku" class="text-danger"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="Predpis.CasPodani">Čas podání</label>
        <input asp-for="Predpis.CasPodani" class="form-control" />
        <span asp-validation-for="Predpis.CasPodani" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-between">
        <a asp-action="Select" class="btn btn-primary">Back to List</a>
        <button type="submit" class="btn btn-success">Edit</button>
    </div>
</form>