@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Nemocnice</h1>
        <p class="lead">Vaše zdraví, naše priorita</p>
    </div>

    <div class="row text-center mt-4">
        <div class="col-md-4">
            <img src="img/obr1.jpg" class="img-fluid rounded shadow" alt="Obrázek 1">
            <h5 class="mt-2">Špičkové vybavení</h5>
            <p>Používáme nejmodernější vybavení.</p>
        </div>
        <div class="col-md-4">
            <img src="img/obr2.jpg" class="img-fluid rounded shadow" alt="Obrázek 2">
            <h5 class="mt-2">Pohodlý pro naše pacienty</h5>
            <p>Vždy čisté a útulné pokoje s lůžky.</p>
        </div>
        <div class="col-md-4">
            <img src="img/obr3.png" class="img-fluid rounded shadow" alt="Obrázek 3">
            <h5 class="mt-2">Náš tým</h5>
            <p>Jsme profesionální a znalý tým.</p>
        </div>
    </div>
</div>