@model KartaLekarskaZprava

<h1>Edit Zprava</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="LekarskaZprava.LekarskaZpravaId" />
    <div class="mb-3">
        <label class="form-label" asp-for="Karta.KartaId"></label>
        <input class="form-control" asp-for="Karta.KartaId">
        <span asp-validation-for="Karta.KartaId" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label class="form-label" asp-for="LekarskaZprava.Zprava"></label>
        <input class="form-control" asp-for="LekarskaZprava.Zprava">
        <span asp-validation-for="LekarskaZprava.Zprava" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label class="form-label" asp-for="LekarskaZprava.Datum"></label>
		<input class="form-control" asp-for="LekarskaZprava.Datum" type="date">
        <span asp-validation-for="LekarskaZprava.Datum" class="text-danger"></span>
    </div>

    <a asp-action="Select" class="btn btn-primary">Back to List</a>
    <button type="submit" class="btn btn-success ms-3">Save</button>
</form>
