@model ProhlidkyViewModel

<h2>Create Prohlidka</h2>

<form asp-area="Admin" asp-controller="Prohlidky" asp-action="Create" method="post">
    <div class="form-group my-3">
        <label asp-for="Karta.KartaId"></label>
        <textarea asp-for="Karta.KartaId" class="form-control"></textarea>
        <span asp-validation-for="Karta.KartaId" class="text-danger"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="Ordinace.OrdinaceId"></label>
        <textarea asp-for="Ordinace.OrdinaceId" class="form-control"></textarea>
        <span asp-validation-for="Ordinace.OrdinaceId" class="text-danger"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="LekarskeSluzby.Ukon"></label>
        <textarea asp-for="LekarskeSluzby.Ukon" class="form-control"></textarea>
        <span asp-validation-for="LekarskeSluzby.Ukon" class="text-danger"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="LekarskeSluzby.Vysetreni"></label>
        <textarea asp-for="LekarskeSluzby.Vysetreni" class="form-control"></textarea>
        <span asp-validation-for="LekarskeSluzby.Vysetreni" class="text-danger"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="LekarskeSluzby.Ockovani"></label>
        <input asp-for="LekarskeSluzby.Ockovani" class="form-control" />
        <span asp-validation-for="LekarskeSluzby.Ockovani" class="text-danger"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="LekarskeSluzby.Datum"></label>
        <input asp-for="LekarskeSluzby.Datum" class="form-control" />
        <span asp-validation-for="LekarskeSluzby.Datum" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
