@model ProhlidkyViewModel

<h2 class="text-center my-4">Create Prohlídka</h2>

<div class="container">
    <form asp-area="Admin" asp-controller="Prohlidky" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="row mb-3">
            <div class="form-group my-3 col-md-6">
                <label asp-for="Karta.KartaId">Karta ID</label>
                <input asp-for="Karta.KartaId" class="form-control" />
                <span asp-validation-for="Karta.KartaId" class="text-danger"></span>
            </div>
            <div class="form-group my-3 col-md-6">
                <label asp-for="Ordinace.OrdinaceId">Ordinace ID</label>
                <input asp-for="Ordinace.OrdinaceId" class="form-control" />
                <span asp-validation-for="Ordinace.OrdinaceId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group my-3">
            <label asp-for="LekarskeSluzby.Ukon">Úkon</label>
            <input asp-for="LekarskeSluzby.Ukon" class="form-control" />
            <span asp-validation-for="LekarskeSluzby.Ukon" class="text-danger"></span>
        </div>

        <div class="form-group my-3">
            <label asp-for="LekarskeSluzby.Vysetreni">Vyšetření</label>
            <input asp-for="LekarskeSluzby.Vysetreni" class="form-control" />
            <span asp-validation-for="LekarskeSluzby.Vysetreni" class="text-danger"></span>
        </div>

        <div class="form-group my-3">
            <label asp-for="LekarskeSluzby.Ockovani">Očkování</label>
            <input asp-for="LekarskeSluzby.Ockovani" class="form-control" />
            <span asp-validation-for="LekarskeSluzby.Ockovani" class="text-danger"></span>
        </div>

        <div class="form-group my-3">
            <label asp-for="LekarskeSluzby.Datum"></label>
            <input asp-for="LekarskeSluzby.Datum" class="form-control" />
            <span asp-validation-for="LekarskeSluzby.Datum" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between">
            <a asp-action="Select" class="btn btn-primary">Back to List</a>
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>